@layer base {
  .contacte {
    container: contacte / inline-size;
    display: none;

    &__contenidor {
      container: contenidor_contacte / inline-size;
      margin-inline: 0;
      display: flex;
      justify-content: space-around;
      width: 75vw;
      gap: 5cqi;
    }
  }

  @container contacte (max-width: 993px) {
    .contacte__contenidor { 
      flex-direction: column; 
      align-items: center;
    }
  }
}

@layer components {
  .contacte {
    &__formulari {
      margin-inline: 0;
      margin-block: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 50cqh;
    }

    &__ubicacio {
      margin-inline: 0;
      margin-block: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 50cqh;
    }

    &__mapa {
      display: flex;
      justify-content: center;
      width: 100cqi;
    }
  }

  @container contenidor_contacte (min-width: 994px) {
    div:is(.contacte__formulari, .contacte__ubicacio) { width: 50cqw; }
  }

  @container contenidor_contacte (max-width: 993px) and (min-width: 738px) {
    div:is(.contacte__formulari, .contacte__ubicacio) {
      width: 50cqw;
      min-height: cqmin;
    }
  }

  @container contenidor_contacte (max-width: 737px) {
    div:is(.contacte__formulari, .contacte__ubicacio) {
      justify-content: center;
      width: 100cqw;
      height: cqmin;
    }
  }
}

@layer design {
  .contacte {
    color: $secondary-p3 !important;
    background-color: $bg-color-primary-p3 !important;
  }
}
