@layer base {
  .participants {
    display: none;

    &__contenidor {
      container: participants / inline-size;
      display: flex;
      flex-wrap: wrap;
      gap: 2cqi;
      justify-content: center;
      width: calc(100% - 30px);
    }
  }
}

@layer components {
  .participant {
    margin-inline: 1rem;
    margin-block: 0.5rem;
  }

  @container participants (min-width: 994px) {
    .participant {
      flex-basis: 30cqw;
    }
  }

  @container participants (min-width: 738px) and (max-width: 993px) {
    .participant {
      flex-basis: 40cqw;
    }
  }

  @container participants (max-width: 737px) {
    .participant {
      flex-basis: 100cqw;
    }
  }
}

@layer design {
  .participants {
    &__titol {
      font-size: calc(1em + 2vw);
      text-align: center;
    }
  }

  .participant {
    &__text {
      margin-block: 0.5rem !important;
    }
  }
}