<div class="contacte pagina" id="contacte">
  <div class="contacte__contenidor mt-3">
    <div class="contacte__formulari">
      <h1 class="contacte__titol">Contacta amb nosaltres!</h1>
      <form class="form" name="contacte__form" method="post" netlify>
        <div class="form__camp mb-3">
          <label class="form-label" for="form__nom">Nom i cognoms</label>
          <input class="form-control" id="form__nom" type="ematextil" required>
        </div>

        <div class="form__camp mb-3">
          <label class="form-label" for="form__mail">Correu electrònic</label>
          <input class="form-control" id="form__mail" type="email" placeholder="exemple@exemple.com" required>
        </div>
        <div class="form__camp mb-3">
          <label class="form-label" for="form__select">La meua consulta tracta sobre...</label>
          <select class="form-select" id="form__select" aria-label="Tria una o varies opcions">
            <option selected>Tria una o varies opcions</option>
            <option value="1">Tornejos</option>
            <option value="2">Classes i entrenaments</option>
            <option value="3">Lliga juvenil</option>
            <option value="4">Activitats extra</option>
            <option value="5">Altres..</option>
          </select>
        </div>
        <div class="form__camp mb-3">
          <label class="form-label" for="form__text">Missatge</label>
          <textarea class="form-control" id="form__text" rows="3"></textarea>
        </div>
        <div class="form__camp form-check mb-3">
          <input class="form-check-input" id="check__info" type="checkbox" value="1" checked>
          <label class="form-check-label" for="check__info">
            Subscriu-te i reb totes les novetats al correu electrònic!
          </label>
        </div>
        <button class="form__button btn btn-outline-info mb-3" type="submit">Enviar</button>
        <div class="form__alerta form__alerta--success alert alert-success" role="alert">
          Gràcies per contactar amb nosaltres, prompte tindràs notícies!
        </div>
        <div class="form__alerta form__alerta--fail alert alert-danger" role="alert">
          Oh, oh, alguna cosa no ha anat bé.. Prova a enviar-ho de nou!
        </div>
      </form>
    </div>
    <div class="contacte__ubicacio">
      <h1 class="contacte__titol">On pots trobar-nos?</h1>
      <p class="contacte__text">Lloc: Pavelló Municipal d'Esports</p>
      <p class="contacte__text">Adreça: Carrer de Gabriel Miró, 32A, 46780 Oliva, Valencia</p>
      <p class="contacte__text">Telèfon: +34 123 456 789</p>
      <div class="contacte__mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.0322945740554!2d-0.11571082301480856!3d38.92323934517741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd61e660466c80e1%3A0xe170ad65a076cbbd!2sPavell%C3%B3%20Municipal%20d&#39;Esports%20(Poliesportiu)!5e0!3m2!1sca!2ses!4v1701074127196!5m2!1sca!2ses"
          loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>