<footer class="footer">
  <hr class="footer__separador">
  <div class="footer__seccio">
    <div class="footer__columna">
      <img class="footer__logo" src="/src/assets/images/logo.png" alt="Logo club AnisTenis">
    </div>
    <div class="footer__columna">
      <ul class="footer__llista">
        <li>
          <a class="footer__enllac footer__enllac--menu" data-target='portada' href="/">Inici</a>
        </li>
        <li>
          <a class="footer__enllac footer__enllac--menu" data-target='participants' href="#">Participants</a>
        </li>
        <li>
          <a class="footer__enllac footer__enllac--menu" data-target='info' href="#">Informació</a>
        </li>
        <li>
          <a class="footer__enllac footer__enllac--menu" data-target='contacte' href="#">Contacta'ns</a>
        </li>
      </ul>
    </div>
    <div class="footer__columna">
      <a class="footer__enllac" href="https://twitter.com/?lang=ca" target="_blank">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a class="footer__enllac" href="https://www.facebook.com/?locale=ca_ES" target="_blank">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a class="footer__enllac" href="https://www.instagram.com/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
  <div class="footer__seccio footer__seccio--uoc">
    <div class="footer__columna">
      <img class="footer__imatge" src="/src/assets/images/logo_uoc.png" alt="Logo UOC">
    </div>
    <div class="footer__columna">
      <p class="footer__credits">Aquesta pàgina s'ha creat exclusivament per a l'assignatura "Eines HTML i CSS II" del
        Màster "Desenvolupament de llocs i aplicacions web" de la UOC</p>
      <p class="footer__credits">&copy; Novembre 2023 - Roser Fuster Bertomeu </p>
    </div>
  </div>
</footer>