<header class="header">
  <nav class="header__nav navbar navbar-expand-lg navbar-light">
    <div class="header__contenidor container-fluid">
      <a class="header__enllac navbar-brand mx-5" data-target='portada' href="/">
        <img class="header__logo" src="/src/assets/images/logo.png" alt="Logo club AnisTenis">
      </a>
      <button class="header__button navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" type="button"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="header__contenidor collapse navbar-collapse" id="navbarNav">
        <ul class="header__menu navbar-nav ms-auto mx-5">
          <li class="header__element nav-item">
            <a class="header__enllac nav-link" data-target='participants' href="#">Participants</a>
          </li>
          <li class="header__element nav-item">
            <a class="header__enllac nav-link" data-target='info' href="#">Informació</a>
          </li>
          <li class="header__element nav-item">
            <a class="header__enllac nav-link" data-target='contacte' href="#">Contacta'ns</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>