<div class="info pagina" id="info">
  <img class="info__capcalera" src="/src/assets/images/lliga_1.png" alt="Torneig de Tennis">
  <article class="info__contenidor">
    <div class="info__seccio">
      <blockquote class="info__titol">
        Uneix-te a nosaltres i forma part d'una experiència tenística única!
      </blockquote>
      <p class="info__text">La Lliga de Tenis AnisTenis és una comunitat apassionada que reuneix entusiastes del
        tenis de totes les edats i nivells d'habilitat. Ens esforcem per fomentar la companyerisme, el joc just i la
        diversió en l'esport del tenis.
      </p>
    </div>
    <div class="info__seccio">
      <p class="info__text">Algunes de les activitats programades son les següents:</p>
    </div>
    <ol class="info__llista list-group list-group-numbered">
      <li class="info__activitat list-group-item d-flex justify-content-between align-items-start text-secondary">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Tornejos</div>
          Participa en els nostres tornejos per a desafiar les teues
          habilitats i gaudir d'emocionants partits de tenis.
        </div>
      </li>
      <li class="info__activitat list-group-item d-flex justify-content-between align-items-start text-secondary">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Classes i entrenaments</div>
          Oferim classes i entrenaments per a millorar les teues habilitats
          tècniques i tàctiques sota la guia d'entrenadors experts.
        </div>
      </li>
      <li class="info__activitat list-group-item d-flex justify-content-between align-items-start text-secondary">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Lliga Juvenil</div>
          Per als joves amants del tenis, tenim una lliga juvenil que proporciona
          una plataforma divertida i educativa per a desenvolupar el seu joc.
        </div>
      </li>
      <li class="info__activitat list-group-item d-flex justify-content-between align-items-start text-secondary">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Activitats extra</div>
          Més enllà de la pista, organitzem sopars, rutes de senderisme i altres
          activitats per a enfortir els llaços dins de la nostra comunitat.
        </div>
      </li>
    </ol>
    <div class="info__seccio">
      <blockquote class="info__titol">
        Esperem veure't en la pista!
      </blockquote>
      <p class="info__text">
        En la Lliga de Tenis AnisTenis, ens esforcem per crear una comunitat vibrant i apassionada que promoga
        l'activitat física, el companyerisme i la competència sana. El nostre principal objectiu és inspirar a
        jugadors de totes les edats i nivells a participar en el tenis, proporcionant oportunitats per a millorar
        habilitats, formar connexions significatives i gaudir de l'emoció d'aquest esport.
      </p>
    </div>
    <img class="info__imatge" src="/src/assets/images/lliga_2.jpg" alt="Activitat de Tennis">
    <div class="info__seccio">
      <p class="info__text">
        No importa si eres una jugadora experimentada o si estàs fent els teus primers passos en el tenis; totes i tots
        sou benvinguts! No dubtes en vindre i preguntar al nostre personal :)
      </p>
    </div>
  </article>
</div>