<div class="participants pagina" id="participants">
  <h1 class="participants__titol">Membres destacats del club AnisTenis</h1>
  <div class="participants__contenidor">
    <div class="participant card text-center">
      <img class="participant__imatge card-img-top" src="/src/assets/images/participant_1.png"
        alt="Imatge de Laia Montserrat">
      <div class="participant__body card-body">
        <h5 class="participant__titol card-title">Laia Montserrat</h5>
        <p class="participant__text card-text">Edat: 31</p>
        <p class="participant__text card-text">Victories: 20</p>
      </div>
    </div>
    <div class="participant card text-center">
      <img class="participant__imatge card-img-top" src="/src/assets/images/participant_2.png"
        alt="Imatge de Vicent Castelló">
      <div class="participant__body card-body">
        <h5 class="participant__titol card-title">Vicent Castelló</h5>
        <p class="participant__text card-text">Edat: 28</p>
        <p class="participant__text card-text">Victories: 15</p>
      </div>
    </div>
    <div class="participant card text-center">
      <img class="participant__imatge card-img-top" src="/src/assets/images/participant_3.png" alt="Imatge de Pau Roca">
      <div class="participant__body card-body">
        <h5 class="participant__titol card-title">Pau Roca</h5>
        <p class="participant__text card-text">Edat: 25</p>
        <p class="participant__text card-text">Victories: 12</p>
      </div>
    </div>
    <div class="participant card text-center">
      <img class="participant__imatge card-img-top" src="/src/assets/images/participant_4.png"
        alt="Imatge de Elena Solana">
      <div class="participant__body card-body">
        <h5 class="participant__titol card-title">Elena Solana</h5>
        <p class="participant__text card-text">Edat: 22</p>
        <p class="participant__text card-text">Victories: 18</p>
      </div>
    </div>
    <div class="participant card text-center">
      <img class="participant__imatge card-img-top" src="/src/assets/images/participant_5.png"
        alt="Imatge de Aitana Giner">
      <div class="participant__body card-body">
        <h5 class="participant__titol card-title">Aitana Giner</h5>
        <p class="participant__text card-text">Edat: 26</p>
        <p class="participant__text card-text">Victories: 14</p>
      </div>
    </div>
    <div class="participant card text-center">
      <img class="participant__imatge card-img-top" src="/src/assets/images/participant_6.png"
        alt="Imatge de Sara Taronger">
      <div class="participant__body card-body">
        <h5 class="participant__titol card-title">Sara Taronger</h5>
        <p class="participant__text card-text">Edat: 24</p>
        <p class="participant__text card-text">Victories: 17</p>
      </div>
    </div>
    <div class="participant card text-center">
      <img class="participant__imatge card-img-top" src="/src/assets/images/participant_7.png"
        alt="Imatge de Alex Salort">
      <div class="participant__body card-body">
        <h5 class="participant__titol card-title">Alex Salort</h5>
        <p class="participant__text card-text">Edat: 31</p>
        <p class="participant__text card-text">Victories: 15</p>
      </div>
    </div>
    <div class="participant card text-center">
      <img class="participant__imatge card-img-top" src="/src/assets/images/participant_8.png"
        alt="Imatge de Maria Bertomeu">
      <div class="participant__body card-body">
        <h5 class="participant__titol card-title">Maria Bertomeu</h5>
        <p class="participant__text card-text">Edat: 25</p>
        <p class="participant__text card-text">Victories: 18</p>
      </div>
    </div>
  </div>
</div>