<div class="portada pagina" id="portada">
  <h1 class="portada__titol">AnisTenis Club</h1>
  <h2 class="portada__subtitol">Vine i gaudeix del tennis amb nosaltres</h2>
  <p class="portada__text">Hem decidit organitzar una lliga de tennis per a la gent de la comarca, oferint una
    oportunitat per als aficionats locals de tots els nivells de gaudir d'aquest esport emocionant.</p>

  <a class="portada__enllac portada__enllac--form" data-target="contacte" href="#">
    Apuntat't a jugar!
    <i class="fa-solid fa-baseball"></i>
  </a>
  <br><br>
  <a class="portada__enllac portada__enllac--info" data-target="info" href="#">
    Apren amb nosaltres
    <i class="fa-solid fa-baseball"></i>
  </a>
  <br>
  <img class="portada__imatge" src="/src/assets/images/portada__silueta.png" alt="Silueta jugadora de tenis">
</div>