@use "sass:color";

$font-title: "Outfit Variable", sans-serif;
$font-text: "Montserrat Variable", sans-serif;
$uoc-corporate: #000078;
$primary: #be9bff;
$secondary: #4c177a;
$info: #029b85;
$bg-color-primary: color.scale($primary, $lightness: 80%);
$subtitle-color: color.adjust(#000, $lightness: 50%);
$link-hover-color: color.adjust($secondary, $blackness: 80%);
$navbar-light-color: $secondary;
$navbar-light-toggler-border-color: $bg-color-primary;
$card-title-color: $secondary;
$list-group-bg: $bg-color-primary;
$list-group-border-width: 0;
$primary-p3: oklch(88.28% 0.1131 177.88deg);
$secondary-p3: oklch(61.57% 0.1131 177.88deg / 82.45%);
$bg-color-primary-p3: oklch(88.28% 0.1131 177.88deg / 23.45%);
